@model IEnumerable<StyleHub.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <a href="@Url.Action("ProductByCategory", "Clothes", new { CategoryId = item.CategoryId })">
                    <div class="card">
                        <img src="@item.ImageURL" class="card-img-top" style="height: 400px; object-fit:cover" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<p class="mb-5">
    @Html.ActionLink("Створення нової категорії", "CreateList")
</p>