@model StyleHub.Models.Cloth

@{
    ViewBag.Title = "Details";
}

<h2>Деталі товару</h2>
    <hr />
<div class="container-fluid mb-3 text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3 align-content-center">
            <h2 class="text-center">@Model.Name</h2>
            <img src="@Model.ImageURL" alt="@Model.Name" class="img-fluid" style="object-fit:cover; max-height: 600px;" />
            <h4>Залишилось на складі: @Model.Amount</h4>
            <h3 >Ціна: @Model.Price</h3>
            <div class="container justify-content-between mt-4">
                @using (Html.BeginForm("Create", "PurchaseRequests", new { ClothId = @Model.ClothId }, FormMethod.Get, new { @class = "form-inline" }))
                {
                    @Html.Hidden("ClothId", @Model.ClothId)
                    <button type="submit" class="btn btn-primary btn-lg mb-4">Купити</button>
                }
                <a href="@ViewBag.ReturnUrl" class="btn btn-secondary btn-lg mb-3">Повернутись назад</a>
            </div>
        </div>
    </div>
</div>
<hr />
<h3 class="mb-3">Схожі товари</h3>
<div class="container">
    <div class="row">
        @foreach (var item in ViewBag.Clothes)
        {
            <div class="col-md-3 mb-4">
                <a href="@Url.Action("Details", "Clothes", new { id = item.ClothId })" class="card-link">
                    <div class="card">
                        <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" style="object-fit:cover; max-height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #000; text-decoration: none !important;">@item.Name</h5>
                            <p class="card-text" style="color: #000; text-decoration: none !important;">Цена: @item.Price</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>