@model IEnumerable<StyleHub.Models.Cloth>

@{
    ViewBag.Title = "Головна товарів";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Додання товарів", "CreateList")
</p>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-img-top mt-3" style="max-height: 400px">
                        <a href="@Url.Action("Details", "Clothes", new { id = product.ClothId })" class="card-link">
                            <img src="@product.ImageURL" class="card-img-top" style="max-height: 400px; object-fit:cover" alt="@product.Name">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Ціна: @product.Price</p>
                        <p class="card-text">Залишилось на складі: @product.Amount</p>
                        @using (Html.BeginForm("Create", "PurchaseRequests", new { ClothId = product.ClothId }, FormMethod.Get, new { @class = "form-inline" }))
                        {
                            @Html.Hidden("ClothId", product.ClothId)
                            <button type="submit" class="btn btn-primary">Купити</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <p>@Html.ActionLink("Перейти до Категорій", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</p>
</div>